<ion-header>
    
  <ion-toolbar><ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      
      </ion-buttons>
      <ion-buttons slot="start">
          
          <ion-back-button></ion-back-button>
          </ion-buttons>
    <ion-title>promociones</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

    <ion-card class="welcome-card">
      
        <ion-card-header>
          
          <ion-card-title>Lunes</ion-card-title>
        </ion-card-header>
        <img src="/assets/promocombo.png" alt="" />
        <ion-card-content>
          <p> valido en todas nuestras sucursales
            1 entrada ,2 rollos o platillos y 1 postre
          </p>
        </ion-card-content>
      </ion-card>
      
      <ion-card class="welcome-card">
      
              <ion-card-header>
                
                <ion-card-title>Martes</ion-card-title>
              </ion-card-header>
              <img src="/assets/promomartes.jpg" alt="" />
              <ion-card-content>
                <p> El mejor lugar para poder disfrutar del verdadero sabor oriental</p>
              </ion-card-content>
            </ion-card>

      <ion-card class="welcome-card">
      
          <ion-card-header>
            
            <ion-card-title>Miercoles</ion-card-title>
          </ion-card-header>
          <img src="/assets/promocombo.png" alt="" />
          <ion-card-content>
            <p> El mejor lugar para poder disfrutar del verdadero sabor oriental</p>
          </ion-card-content>
        </ion-card>




        <ion-card class="welcome-card">
      
            <ion-card-header>
              
              <ion-card-title>Jueves</ion-card-title>
            </ion-card-header>
            <img src="/assets/promocombo.png" alt="" />
            <ion-card-content>
              <p> El mejor lugar para poder disfrutar del verdadero sabor oriental</p>
            </ion-card-content>
          </ion-card>

          
          

</ion-content>
