<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          
          </ion-buttons>
          <ion-buttons slot="start">
              
              <ion-back-button></ion-back-button>
              </ion-buttons>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <img src="/assets/menukir.png" alt="" />

</ion-content>
