<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          
          </ion-buttons>
          <ion-buttons slot="start">
              
              <ion-back-button></ion-back-button>
              </ion-buttons>
    <ion-title>Ubicanos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

     

      <ion-card>
        <ion-card-header>
          
          <ion-card-title>kiromi suc. calvario</ion-card-title>
        </ion-card-header>
        <img src="/assets/kircal.jpg" alt="" />
          <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>kiromi suc. calvario</ion-label>
            <ion-button fill="outline" href="https://maps.app.goo.gl/eRteGxmcnNePUToo7" slot="end">View</ion-button>
          </ion-item>
      </ion-card>

      <ion-card>
          <ion-card-header>
            
            <ion-card-title>kiromi suc. central plaza</ion-card-title>
          </ion-card-header>
          <img src="/assets/kircen.jpg" alt="" />
            <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>kiromi suc. central</ion-label>
              <ion-button fill="outline" href="https://goo.gl/maps/8WQVoSU5jKqDEq4K8" slot="end">View</ion-button>
            </ion-item>
        </ion-card>

        <ion-card>
            <ion-card-header>
              
              <ion-card-title>kiromi suc. jardines</ion-card-title>
            </ion-card-header>
            <img src="/assets/kirjar.jpg" alt="" />
              <ion-item>
                <ion-icon name="pin" slot="start"></ion-icon>
                <ion-label>kiromi suc. jardines</ion-label>
                <ion-button fill="outline" href="https://goo.gl/maps/x81XwFj4cipRRXcF7" slot="end">View</ion-button>
              </ion-item>
          </ion-card>

</ion-content>
