<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Kiromi Sushi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      
      <ion-card-header>
       
      </ion-card-header>
      <img src="/assets/kir1.jpg" alt="" />
      <ion-card-content>
        <p> El mejor lugar para poder disfrutar del verdadero sabor oriental</p>
      </ion-card-content>
    </ion-card>
     

 
</ion-content>
